.header-container {
    box-shadow: 1px 1px 3px black;
}

.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 115px;
    box-shadow: 1px 1px 3px black;
}

.footer-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-route {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
}

.btn-primary {
    box-shadow: 1px 1px 3px black;
}