<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <nav th:fragment="header" class="navbar header-container bg-primary text-white">
        <span class="navbar-brand mb-0 h1">Header</span>
    </nav>

    <div th:fragment="footer" class="footer-container bg-primary text-white">
        <div class="row" style="height: 100%;">
            <div class="col-sm footer-column">
                <span class="footer-route">Facebook</span>
            </div>
            <div class="col-sm footer-column">
                <span class="footer-route">Twitter</span>
            </div>
            <div class="col-sm footer-column">
                <span class="footer-route" th:href="@{https://r-szoft.hu/}">R-szoft</span>
            </div>
        </div>
    </div>

    <div th:fragment="sidenav" class="sidenav-container">
        <div class="col">
            <a th:href="@{/}" class="row sidenav-item-container">Employees</a>
            <a th:href="@{star-wars}" class="row sidenav-item-container">Star Wars API</a>
        </div>
    </div>

</body>
</html>