<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Star Wars</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>
<body>
    <div class="main">
        <div th:replace="fragments.html :: header"></div>
        <div th:replace="fragments.html :: sidenav"></div>

        <div class="container" style="margin-top: 5%">

            <div class="input-group">
                <input type="number" id="starWarsIdSearch" class="form-control" placeholder="Star wars person id" aria-label="Star Wars Id" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" onclick="searchStarWarsPersons()">Search</button>
                </div>
            </div>

            <div id="starWarsSearchResult">

            </div>

        </div>

        <div th:replace="fragments.html :: footer"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

    <script type="text/javascript">
        function searchStarWarsPersons() {
            let url = 'https://swapi.co/api/people/';

            if ($('#starWarsIdSearch').val() !== '') {
                url += $('#starWarsIdSearch').val();
            }

            $.get(url, (data) => {
                console.log(data);
            })
        }
    </script>

</body>
</html>